<div class="main">
  <div>
    <img class="image" src="http://localhost:3000/assets/phishing.png" alt="avatar image">
    <p class="text">Olá <span style="font-weight:bold;"><%= @resource.name %>,</p>
    <p class="text">Ouvimos dizer que você precisa redefinir a sua senha. Clique no link abaixo para ser redirecionado a um site seguro e criar uma nova senha.</p>
  </div>
  <a class="action" href='<%= "#{message['redirect-url']}?reset_password_token=#{@token}" %>'>Redefinir Senha</a>
</div>

